<!DOCTYPE html>
<html lang="en" ng-app="madLibs" ng-controller="madLibsCtrl">
<head>
	<meta charset="UTF-8">
	<title>ngMadLibs</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script> 
	<script src="main.js"></script>
</head>
<body>
	<header>

		<img id="happyFace" src="images/mad-lib-happy-face.png" alt="happy face" />
		<span id="logoDiv">		
			<img id="logo" src="images/ng-mad-libs-logo.png" alt="ngMad Libs" /><br/>
			<span id="automate">Automate This!</span>
		</span>
	</header>
	<section>
		<div id="provideDiv">Provide the following words:</div>
		<div class="inputDiv">
			<input type="text" placeholder="Name" ng-model="name" />
			<input type="text" placeholder="Job title" ng-model="jobTitle" />
			<input type="text" placeholder="Tedious task" ng-model="tediousTask" />
		</div>
		<div class="inputDiv">
			<input type="text" placeholder="Dirty task" ng-model="dirtyTask" />
			<input type="text" placeholder="Celebrity" ng-model="celebrity"/>
			<input type="text" placeholder="Useless skill" ng-model="uselessSkill" />
		</div>
		<div class="inputDiv">
			<input type="text" placeholder="Obnoxious celebrity" ng-model="obnoxiousCelebrity"/>
			<input type="text" placeholder="Huge number" type="number" ng-model="hugeNumber"/>
			<input type="text" placeholder="Adjective" ng-model="adjective" />
		</div>
		<div class="inputDiv radioDiv">
			<input type="radio" name="sex" id="male" ng-click="changeSex('male')"/><label for="male">Male</label>
			<input type="radio" name="sex" id="female" checked="changeSex('female')" /><label for="female">Female</label>
		</div>
	</section>
	<section>
		<div>
		<span class="underline">{{ name }}</span> was a <span class="underline">{{ jobTitle }}</span> who loved technology. Although {{ pronoun }} loved parts of {{ possessive }} job, {{ pronoun }} absolutely hated <span class="underline">{{tediousTask}}</span> and <span class="underline">{{dirtyTask}}</span>. So, <span class="underline">{{name}}</span> met with {{ possessive }} life mentor <span class="underline">{{celebrity}}</span> who told {{ possessive }} to learn how to <span class="underline">{{uselessSkill}}</span> with Thinkful. Thinkful didn't offer a course on <span class="underline">{{uselessSkill}}</span> so {{ pronoun }} studied programming instead. <br /><br />
		 
		What a great decision! With {{ possessive }} new skills, <span class="underline">{{name}}</span> built a(n) <span class="underline">{{adjective}}</span> robot named <span class="underline">{{obnoxiousCelebrity}}</span> that not only loved <span class="underline">{{dirtyTask}}</span> but did it <span class="underline">{{hugeNumber}}</span> faster. 
		</div>
	</section>
	
</body>
</html>